@CHARSET "ISO-8859-1";
html, body{
	margin:0px;
	height:100%;
	background-color:#ffffff;
	background-image: url("../background-image/variety-medical-situations-flat-style_23-2147541586.jpg");
	background-attachment: fixed;
	

}
#patientHeader{
	background-image: linear-gradient(to left,rgba(56, 5, 21,0.9),rgba(72, 96, 52,0.9));
	background-image: url("../background-image/pattern.png");
	background-repeat:repeat-x;
	padding:10px 10px 10px 10px;
	color:#fff;
}
#patientContainer{
	background-color: rgba(255, 255, 255,0.4);
	color:rgb(96, 58, 5);
}
.content-container{
	height: 600px;
	
}
#online{
	display: inline-block;
	font-size: 40px;
}
.patient-name{
	text-transform: capitalize;
	display: inline-block;	
	font-size: 25px;
}
#user{
	display: inline-block;	
	float:right;
	
}
#logout{
	text-decoration: none;
	color:#00ffff;
	display: inline-block;
}
/*link, visited */
#logout:hover{
	text-decoration: none;
	color:#ff0000;
	text-shadow: 2px 3px 2px #fff;
	font-size: 20px;
}
	/* selected */
	
#nav-bar{
	background-image: linear-gradient(to right,rgba(56, 5, 21,0.9),rgba(72, 96, 52,0.9));
}
.nav-btn{
	text-decoration:none;
	color:white;
	display: inline-block;
	padding:10px;
	margin:0;
	background-color: rgb(51, 2, 34);
	font-size: 20px;
}
.nav-btn:hover{
	background-color:rgb(237, 7, 45);
	padding:15px;
}
#up-profile{
	float: right;
	background-color: rgb(2, 58, 3);
	
	
}
.content-container{
	text-align: center;
}
.doctor-list{
	background-color:rgba(112, 32, 32,0.5);
	display:inline-block;
	padding:10px;
	margin:10px;
	color:rgb(244, 230, 230);
	
}
.doctor-appoint-list{
	margin: 0 auto;
	
}
table{
	border-collapse: collapse;
}
table, th, td{
	border: 1px solid black;
	
}
th, td{
	padding:5px;
}
.appointment-info{
	width:50%;
	height:55%;
	background-color: #caccad;
	margin:0 auto;
}
.appointment-heading{
	font-size: 2pc;
	padding-bottom:5px;
}
.name{
	text-transform: capitalize;
}
.font{
	font-weight: bolder;
}
.appointment-details{
	background-color:#aaaaaa;
	box-shadow:2px 2px 3px #000;
	width:80%;
	margin:0 auto;
	padding:10px 10px 10px 10px;
	
}